@use '../components/buttons';
@import '../abstracts/variables';
@import '../mixins/common_mix';
@import '../mixins/responsive';
@import '../mixins/font_mix';


header{
    border-top: 2px solid $green_dp;
    position: relative;
    .container{

        nav{
            height: 100%;
            width: 100%;
            padding-top: 10px;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            @include custom_responsive(0px, 768px){
                justify-content: flex-start;
            }

            .left{

                .logo{
                    height: 48px;
                    img{
                        height: 100%;
                    }
                }
            }
            .middle{
                a{
                    
                    @include n_btn(transparent,$black,$red_lt);

                    body.theme_2 &{
                        @include n_btn(transparent,$white,$green_lt)
                    }
                    
                }
            }
            .right{

                @include custom_responsive(0px,768px){
                    display: none;
                }
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                    li{

                        margin: 0px 5px;
                        &:last-child {
                            margin-right: 0px;
                        }

                        a{

                            @include font($black,14px,bold);
                            text-transform: uppercase;

                            body.theme_2 &{
                                color: $white;
                            }
                            
                            // @include button($border: transparent);
                            @include n_btn($border:  transparent, $txt_c: $black, $bg_c: transparent, $radius: 35px);
                            // @extend .button;

                            @include tr();
                            
                           &:hover {
                            @extend .btn-green;

                            body.theme_2 &{
                                @extend .btn-red;
                            }
                           }

                        }
                    }
                }
            }
        }
    }
}