@import '../abstracts/variables';
@import '../mixins/common_mix';
@import '../mixins/responsive';

@mixin font($cl: $black,$sz,$wt: normal,$lh: normal,$ls:normal){

    color: $cl;
    font-family: $poppins;
    font-size: $sz;
    font-style: normal;
    font-weight: $wt;
    line-height: $lh;
    letter-spacing: $ls;
}